<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70989939812-7hd7am0eokqdci35s8nd2jklvnhptofn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70989939812-7hd7am0eokqdci35s8nd2jklvnhptofn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70989939812-01aqlvdkulhb45g6c3276omvsiunsqml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjnvRNSfub5KG-4Mqnl9yjMiB8q0GJ2F0</string>
	<key>GCM_SENDER_ID</key>
	<string>70989939812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.akitatubirth</string>
	<key>PROJECT_ID</key>
	<string>birthday-oe5ij0</string>
	<key>STORAGE_BUCKET</key>
	<string>birthday-oe5ij0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70989939812:ios:b807d35b02187f83da8b71</string>
</dict>
</plist>